<h1>
  Add a new appointment
</h1>


<hr>

<!-- Form appointment start -->
<form action="/create_appointment" method="post">
<!-- Form appointment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for starts_at start -->
  <div class="form-group">
    <label for="starts_at">
      Starts at
    </label>

    <!-- Input for starts_at start -->
    <input type="text" id="starts_at" name="starts_at" class="form-control">
    <!-- Input for starts_at end -->
  </div>
  <!-- Label and input for starts_at end -->

  <!-- Label and input for ends_at start -->
  <div class="form-group">
    <label for="ends_at">
      Ends at
    </label>

    <!-- Input for ends_at start -->
    <input type="text" id="ends_at" name="ends_at" class="form-control">
    <!-- Input for ends_at end -->
  </div>
  <!-- Label and input for ends_at end -->

  <button class="btn btn-block btn-outline-secondary">
    Create appointment
  </button>
</form>

<hr>

<a href="/appointments">
  Go back
</a>
