<h1>
  Add a new appointment
</h1>


<hr>

<form action="/create_appointment" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="starts_at">
      Starts at
    </label>

    <input type="text" id="starts_at" name="starts_at" class="form-control">
  </div>

  <div class="form-group">
    <label for="ends_at">
      Ends at
    </label>

    <input type="text" id="ends_at" name="ends_at" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create appointment
  </button>
</form>

<hr>

<a href="/appointments">
  Go back
</a>
