<% if @appointment.present? %>
  <% if @appointment.errors.any? %>
    <% @appointment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new appointment
</h1>


<hr>

<form action="/create_appointment" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="starts_at">
      Starts at
    </label>

    <input type="text" id="starts_at" name="starts_at" class="form-control" value="<%= @appointment.starts_at %>">
  </div>

  <div class="form-group">
    <label for="ends_at">
      Ends at
    </label>

    <input type="text" id="ends_at" name="ends_at" class="form-control" value="<%= @appointment.ends_at %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create appointment
  </button>
</form>

<hr>

<a href="/appointments">
  Go back
</a>
